
body{
    margin: 0;
    color: white;
}
.wrapper{
    height: 90%;
}
.sidediv{
    width: 15%;
    height: 100%;
    background-color: #C9CDD0;
    padding-top: 3%;
}
#leftpane{
    margin-left: 0;
    float: left;
    display: block;
}
#rightpane{
    margin-right: 0;
    float: left;
}
#centerpane{
    background-image: url(images/movie.gif); 
    background-position: center center;
    background-size: cover;
    float: left;
    height: 111.5%;
    width: 70%;
    margin-top: 0;
 /*   margin-left: -4vw;*/
    z-index: 0;
}
.title{
    height: 18%;
    width: 78%;
    position: absolute;
    margin-left: -4%;
    padding-top: 2%;
    background-color: rgba(254, 253, 223, 0.2);
    text-align: center;
    color: rgba(240,0,0,1);
}
.titletop, .tittlebot{
    height: 66%;
    width: 100%;
    text-align: justify;
}
.titletop{
    font-size: 5.9vw;
}
.titlebot{
    font-size: 4vw;
    background-color: rgba(254, 253, 223, 1);
}
.spaced:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.secretspacer{
    color: rgba(254, 253, 223, 0);
}
.titlealign{
    vertical-align: middle;
}
.bookpanes{
    text-align: center;
    font-size: 4vw;
    width: 100%;
    height: 30%;
}
.botpane{
    bottom:0;
    margin-top: 56%;

}
.panetop{
    margin-top: 1.09vw;
    text-align: left;
    padding-left: 3vw;
}
.panebot{
    font-size: 1.6vw;
    text-align: justify;
}
.bookcover{
    height: 70%;
    width: 50%;
    z-index: 10;
}
.panebot .bookcover{
    margin-left: 100%;
}
.desc{
    background-color: rgba(224,  172, 249, 0.3 );
    width: 50%;
    height: 1.5vw;
    font-size: 1.2vw;
    z-index: 15;
    position: absolute;
}
.descright{
    margin-left: -35%;
}
.coverimg{
    height: 100%;
    width: 100%;
}
.sidelinks{
    text-align: justify;
    margin-top: 65%;
}
.cont{
    font-size: 2.2vw;
}
.proj{
    margin-top: 10%;
    font-size: 3vw;
}
.scul{
    margin-top: 25%;
    font-size: 1.37vw;
}
.scul span{
    font-size: 2.8vw;
}
.phoney{
    display:none;
}

@media only screen and (max-width : 719px) {
    #leftpane, #rightpane{
        display: none;
    }
    #centerpane, .title{
        width: 100%;
    }
    .title{
        margin-left: 0;
    }
    .phoney{
        display:block;
        margin-top: 25%;
        padding: 2%;
        font-size: 22pt;
    }

}