
body{
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
}
.sidediv{
    width: 15%;
    height: 100%;
    padding-top: 3%;
}
#leftpane{
    margin-left: 0;
    margin-top: 5%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 3.1vw;
}
#rightpane{
     margin-right: 0;
    margin-top: -55%;
    float: right;
    display: block;
    color: white;
    text-align: center;
    font-size: 3.1vw;
}
#centerpane{
    background-image: url(images/movie.gif); 
    background-position: center center;
    background-size: cover;
   
    height: 100%;
 
   
 /*   margin-left: -4vw;*/
    z-index: 0;
}
.title{
    height: 18%;
    width: 78%;
    position: absolute;
    margin-left: -4%;
    padding-top: 2%;
    text-align: center;
    color: rgba(240,0,0,1);
}
.titletop, .tittlebot{
    height: 66%;
    width: 100%;
    text-align: justify;
}
.titletop{
    font-size: 5.9vw;
}
.titlebot{
    font-size: 4vw;
}
.spaced:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.secretspacer{
    color: rgba(254, 253, 223, 0);
}
.titlealign{
    vertical-align: middle;
}
.bookpanes{
    text-align: center;
    font-size: 4vw;
    width: 100%;
    height: 30%;
    margin-top: 50%;
    margin-left: 9%;
}
.botpane{
    bottom:0;
    margin-top: 56%;

}
.panetop{
    margin-top: 1.09vw;
    text-align: left;
    padding-left: 3vw;
}
.panebot{
    font-size: 1.6vw;
    text-align: justify;
}
.bookcover{
    height: 70%;
    width: 50%;
    z-index: 10;
}
.panebot .bookcover{
    margin-left: 100%;
}
.desc{
    
    width: 50%;
    height: 1.5vw;
    font-size: 1.2vw;
    z-index: 15;
    position: absolute;
}
.descright{
    margin-left: -35%;
}
.coverimg{
    height: 100%;
    width: 100%;
}
.sidelinks{
    text-align: justify;
    margin-top: 65%;
}
.cont{
    font-size: 2.2vw;
}
.proj{
    margin-top: 10%;
    font-size: 3vw;
}
.scul{
    margin-top: 25%;
    font-size: 1.37vw;
}
.scul span{
    font-size: 2.8vw;
}
.phoney{
    display:none;
}
.leftside{
    margin-left: 33%;
}
.mainmessage{
    color: red;
    background-position: center center;
    text-align: center;
    font-size: 40pt;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url(images/movie.gif);
    font-weight: 900;
    margin-left: 25%;
    width: 50%;
}

@media only screen and (max-width : 719px) {
    #leftpane, #rightpane{
        display: none;
    }
    #centerpane, .title{
        width: 100%;
    }
    .title{
        margin-left: 0;
    }
    .phoney{
        display:block;
        margin-top: 25%;
        padding: 2%;
        font-size: 22pt;
    }

}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
/*.animate-flicker {
   -webkit-animation: flickerAnimation 10s infinite;
   -moz-animation: flickerAnimation 10s infinite;
   -o-animation: flickerAnimation 10s infinite;
    animation: flickerAnimation 10s 3;

}*/

.rightmany{
    margin-left: 0;
    width: 15%;
    height: 100%;
    color: red;
    float: left;
}